################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/bin
/WebApplication1/obj
/Application.Services/obj
/Application.Entities/obj/Debug
/Application.Data/obj/Debug
